<!--
  Generated template for the ExamModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>小 測 驗</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="ContentBg" padding>

  <!-- .................. -->

  <div *ngIf="SimpleM">

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser1">
      <ion-list-header>
        1.請問父親的姊姊要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姑姑</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.嫂嫂</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.嬸嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.伯母</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>


    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser2">
      <ion-list-header>
        2.請問哥哥的妻子要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姑姑</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.嫂嫂</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.嬸嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.伯母</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser3">
      <ion-list-header>
        3.請問叔叔的妻子要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姑姑</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.嫂嫂</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.嬸嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.伯母</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser4">
      <ion-list-header>
        4.請問母親的姊姊要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姑姑</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.阿姨</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.嬸嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.舅媽</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser5">
      <ion-list-header>
        5.請問母親的母親要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姑姑</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.外婆</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.嬸嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.嬸婆</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser6">
      <ion-list-header>
        6.請問父親的母親要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.阿嬤</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.阿祖</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.嬸婆</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.伯母</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser7">
      <ion-list-header>
        7.請問妻子的弟弟的妻子要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.弟媳</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.嫂嫂</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.嬸嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.妯娌</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser8">
      <ion-list-header>
        8.請問自己的哥哥的女兒要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.侄女</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.姪子</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.妹妹</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.姪女</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser9">
      <ion-list-header>
        9.請問自己的姊姊的兒子要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姪子</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.表弟</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.姨甥</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.外甥</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser10">
      <ion-list-header>
        10.妻子的母親要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.奶奶</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.外婆</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.岳母</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.伯母</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

  </div>

  <!-- .................. -->

  <div *ngIf="SimpleG">

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser1">
      <ion-list-header>
        1.請問父親的姊姊要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姑姑</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.嫂嫂</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.嬸嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.伯母</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>


    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser2">
      <ion-list-header>
        2.請問哥哥的妻子要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姑姑</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.嫂嫂</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.嬸嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.伯母</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser3">
      <ion-list-header>
        3.請問叔叔的妻子要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姑姑</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.嫂嫂</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.嬸嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.伯母</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser4">
      <ion-list-header>
        4.請問母親的姊姊要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姑姑</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.阿姨</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.嬸嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.舅媽</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser5">
      <ion-list-header>
        5.請問母親的母親要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姑姑</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.外婆</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.嬸嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.嬸婆</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser6">
      <ion-list-header>
        6.請問父親的母親要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.阿嬤</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.阿祖</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.嬸婆</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.伯母</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser7">
      <ion-list-header>
        7.請問丈夫的弟弟的妻子要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.弟媳</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.嬸嬸</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.小嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.妯娌</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser8">
      <ion-list-header>
        8.請問自己的哥哥的妻子要如何稱呼自己？
      </ion-list-header>
      <ion-item>
        <ion-label>A.弟媳</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.小姑</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.小嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.妯娌</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser9">
      <ion-list-header>
        9.請問自己的哥哥的女兒要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.表妹</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.姪子</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.妹妹</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.姪女</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="Anwser10">
      <ion-list-header>
        10.請問自己的姊姊的兒子要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姪子</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.表弟</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.姨甥</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.外甥</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>


  </div>

  <!-- .................. -->

  <div *ngIf="DifficultyM">

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser1">
      <ion-list-header>
        1.父親的父親要如何稱呼?
      </ion-list-header>
      <ion-item>
        <ion-label>A.爺爺</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.外公</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.舅公</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.叔公</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>


    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser2">
      <ion-list-header>
        2.請問自己的哥哥的妻子要如何稱呼自己？
      </ion-list-header>
      <ion-item>
        <ion-label>A.弟媳</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.小姑</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.小嬸</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.妯娌</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser3">
      <ion-list-header>
        3.請問自己的哥哥的女兒要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.表妹</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.姪子</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.妹妹</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.姪女</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser4">
      <ion-list-header>
        4.請問自己的姊姊的兒子要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姪子</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.表弟</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.姨甥</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.外甥</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser5">
      <ion-list-header>
        5.妹妹的丈夫要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姊夫</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.妹夫</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.叔叔</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.舅舅</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser6">
      <ion-list-header>
        6.妻子的弟弟要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.舅舅</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.舅仔</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.姨丈</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.姊夫</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser7">
      <ion-list-header>
        7.妻子的哥哥要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.舅公</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.舅仔</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.姨丈</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.大舅</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser8">
      <ion-list-header>
        8.妻子的父親要如何稱呼?
      </ion-list-header>
      <ion-item>
        <ion-label>A.岳父</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.叔父</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.外公</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.姨丈</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser9">
      <ion-list-header>
        9.父親的母親的妹妹要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姨婆</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.叔婆</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.舅婆</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.阿姨</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser10">
      <ion-list-header>
        10.妻子的弟弟的女兒要如何稱呼
      </ion-list-header>
      <ion-item>
        <ion-label>A.孫女</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.堂妹</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.阿姨</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.姪女</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

  </div>

  <!-- .................. -->

  <div *ngIf="DifficultyG">

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser1">
      <ion-list-header>
        1.請問父親的父親要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.外公</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.爺爺</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.大伯</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.叔公</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>


    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser2">
      <ion-list-header>
        2.請問爺爺的哥哥要如何稱呼?
      </ion-list-header>
      <ion-item>
        <ion-label>A.叔叔</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.外公</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.大伯</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.叔公</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser3">
      <ion-list-header>
        3.母親的妹妹的兒子(比我年長)要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.表哥</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.堂哥</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.姪子</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.叔公</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser4">
      <ion-list-header>
        4.母親的妹妹的女兒(比我年輕)要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.表妹</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.堂妹</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.孫女</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.姪子</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser5">
      <ion-list-header>
        5.母親的妹妹的丈夫要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.舅公</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.叔叔</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.孫女</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.姨丈</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser6">
      <ion-list-header>
        6.哥哥的妻子的哥哥要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姊夫</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.姻親</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.妯娌</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.叔叔</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser7">
      <ion-list-header>
        7.母親的父親的哥哥要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.外公</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.叔公</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.伯公</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.舅公</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser8">
      <ion-list-header>
        8.妹妹的丈夫要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姊夫</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.妹夫</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.叔叔</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.舅舅</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser9">
      <ion-list-header>
        9.父親的母親的妹妹要如何稱呼？
      </ion-list-header>
      <ion-item>
        <ion-label>A.姨婆</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.叔婆</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.舅婆</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.阿姨</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group  class="ExamList" [(ngModel)]="DAnwser10">
      <ion-list-header>
        10.丈夫的妹妹的兒子要如何稱呼?
      </ion-list-header>
      <ion-item>
        <ion-label>A.妹夫</ion-label>
        <ion-radio value="A"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>B.姊夫</ion-label>
        <ion-radio value="B"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>C.外甥</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>D.孫子</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
    </ion-list>



  </div>

  <!-- .................. -->




</ion-content>

<ion-footer class="ExamFoo">
  <div (click)="GetResult()" class="ExamBtn">
      交 卷
  </div>
  <div (click)="Close()" class="ExamBtn">
      返 回
  </div>
</ion-footer>
